anyio==3.6.1
autopep8==1.7.0
click==8.1.3
fastapi==0.79.0
flake8==5.0.4
gunicorn==20.1.0
h11==0.13.0
idna==3.3
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
pycodestyle==2.9.1
pydantic==1.9.2
pyflakes==2.5.0
sniffio==1.2.0
starlette==0.19.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.3.0
uvicorn==0.18.2
